<section class="py-5 bg-dark">
	<ngb-carousel [showNavigationArrows]="false">
		<ng-template ngbSlide *ngFor="let slide of slides" >
      <div>
        <div class="container">
			<div class="picsum-img-wrapper row align-items-center">
        <div class="col-md-6 slide-caption">
        <div class="carousel-caption text-start position-static">
          <h4 class="h6 fw-bold  text-uppercase mb-4" [ngStyle]="{'color':'#' + slide.colorCode}">{{slide.category}}</h4>
				<h2>{{slide.title}}</h2>
				<p class="text w-75">{{slide.brief}}</p>
        <button class="btn rounded-3 text-white" ngsty>Fined Out More</button>
			</div>
      </div>
        <div class="col-md-6 pe-5">
				<img [src]="slide.imgUrl" alt="Random first slide" class="pe-5 w-100"/>
			</div>

      </div>
      </div>
      </div>
		</ng-template>
	</ngb-carousel>


</section>
