<section class="py-5 bg-dark">
  <carousel>
    <slide *ngFor="let slide of slides; let index=index">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
          <div class="carousel-caption">
        <h4 class="h6 text-uppercase" [ngStyle]="{'color': slide.colorCode}">Marking</h4>
        <p>{{slide.title}}</p>
      </div>
          </div>
          <div class="col-md-6">
      <img [src]="slide.imgUrl" alt="image slide" style="display: block; width: 100%;"></div>
     
      </div>
      </div>
    </slide>
  </carousel>
  <ngb-carousel>
		<ng-template ngbSlide *ngFor="let slide of slides" >
			<div class="picsum-img-wrapper d-flex justify-content-center align-items-center">
				<img [src]="slide.imgUrl" alt="Random first slide" class="vh-100"/>
			</div>
			<div class="carousel-caption ps-5 text-start w-50">
				<a routerLink="/movie/trending" class="btn main-bg main-bg-hover rounded-0 text-white mb-3">Trending Movies</a>
				<h2>" class="text-white">{{slide.title}}</h2>
				<p></p>
				<a class="btn bg-transparent view-more main-bg-hover rounded-pill text-white"></a>
			</div>
		</ng-template>
	</ngb-carousel>
</section>
