/* Home Banner */

.slide-bg {
  position: relative;
  right: -27%;
  top: -40%;
  z-index: -1;

  .rotate {
    animation: rotate 6s linear infinite;
  }
}

.banner-img-container{
  left: 40%;

.banner-img {
  animation: move 1s ease;
}
}
.slide-caption {
  h2 {
    font-size: 4.17rem;
    color: #181E4B;
    font-weight: bold;
    
  }

  .vector {
    position: absolute;
    right: -6%;
    top: 30%;
    z-index: -1;
    animation: vibrate .5s linear;
  }

  button {
    font-family: 'Google Sans';
  }

  .find-out {
    padding-block: .7rem;
  }

  .demo {
    color: #686D77;
    line-height: 1.5rem;

    span {
      display: inline-block;
      width: 2.9rem;
      height: 2.9rem;
      background-color: #E72228;
      box-shadow: 0px 15px 60px #DF69514D;
      line-height: 2.8rem;
    }
  }
}

/* Animations */

@keyframes move {
  from {
    transform: translate(-10%, 10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes vibrate {
  0% {
    transform: rotateZ(-10deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

/* Media Queries */

  @media screen and (max-width: 1400px) {
    .slide-bg {
      .rotate {
        width: 600px;
      }
    }
    .row{
      margin-top: 2rem;
    }
    .slide-caption {
      h2 {
        font-size: 3.5rem !important;
      }
    }
  }
  
 
  
@media screen and (max-width: 991px) {
  .row{
    height: auto !important;
  }
.banner-img-container{
  position: static !important;
  .banner-img{
    width: 100%;
  }
}

  .slide-bg{
    top:65%;
    .rotate {
    width: 500px;
  }}
  
  .slide-caption h2 {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .slide-caption .vector {
    right: 12%;
  }
  .slide-bg {
    right: -45%;
    top: -15%;
  }
  .slide-bg .rotate {
    width: 700px;
  }
  .banner-img {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .demo {
    line-height: 1rem;
    margin-left: .5rem;
    span {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      margin-right: .5rem;
    }
  }

  .slide-bg {
    top: -30%;
  }
  .slide-bg .rotate {
    width: 500px;
  }
}

