nav
{z-index: 9999;
  .nav-item{
    font-family: 'Google Sans';
    .nav-link{
      color:#212832;
      
    }
  
  } 
  .offcanvas-start{
      width: 250px !important;
}
.active{
  border: 2px solid #212832;
  border-radius: 10px;
}

.navbar-toggler{
  border: none;
}
.navbar-toggler:focus{
  box-shadow: none;

}
}
