<nav class="navbar navbar-expand-lg bg-transparent position-absolute top-0 w-100 start-0">
    <div class="container">
      <a class="navbar-brand"><img src="assets/images/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="#">Abou Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="news">News</a>
          </li>
          <li class="nav-item mx-5 pe-5">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item ps-5">
            <a class="nav-link" href="#">Log in</a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              EN
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
