<section class="py-5 mt-5">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-8 ">
        <div class="news-item">
          <h2 class="mb-4">{{newsItem.title}}</h2>
          <span class="d-block text">{{categoryName}}</span>
          <span class="date">{{newsItem.publishedDate  |  date:'EEEE  d MMMM y'}}</span>
          <img [src]="newsItem.urlToImage" alt="newsImg" class="w-100 mt-2">
          <span class=" d-block text-center border-bottom py-2">{{newsItem.description}}</span>
          <p class="mt-4">{{newsItem.content}}</p>
        </div>
      </div>
      <div  class="col-md-4 pt-lg-5">
        <h4 class="mt-md-5">Related News</h4>
        <div class="row pb-3 border-bottom mb-3" *ngFor="let relatedItem of relatedNews">
          <div class="col-6">
            <img [src]="relatedItem.urlToImage" alt="related" class="w-100">
          </div>
          <div class="col-6">
            <h2 class="h6 text">{{relatedItem.title |sliceTitle}}</h2>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
