<section class="things-we-do overflow-x-hidden overflow-y-hidden">
  <div class="container-fluid">
    <div class="position-relative pt-5">
      <h3 class="sec-title position-absolute">Things We Do</h3>
      <div class="row py-5 position-relative z-3 things-layout justify-content-center">
          <div class="col-xxl-7 pt-4 ps-xxl-5 col-lg-7 things-imgs">
          <div class="d-flex align-items-center justify-content-center">
              <div class="img-container">
              <img src="assets/images/Transformation.png" alt="transformation">
            </div>
              <div class="img-container align-self-baseline">
              <img src="assets/images/envision.png" alt="envision">
              <div class="img-container">
              <img src="assets/images/dynamic.png" alt="dynamic">
            </div>
            </div>
            <div class="service">
              <div class="img-container">
              <img src="assets/images/crafty.png" alt="crafty">
              </div>
              <div class="img-container">
              <img src="assets/images/services.png" alt="services">
              </div>
            </div>
            </div>
          </div>
          <div class="sec-text py-2 ms-auto col-xxl-5 col-lg-5">
            <div class=" text-end pe-xxl-5   mt-xl-4 content">
              <h2 class="mb-xl-5">We Deliver <br> Degital Productivity</h2>
              <p class="fs-4 mb-0 text-white">We craft technology solutions that digitally bond and transform the productivity of our customers and their citizens, workers, consumers and partners.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>