.things-we-do{
  background-color: #eeeeee;
  padding-block: 150px 100px;
.sec-title{
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #D9D9D9;
  position: absolute;
  width: 50%;
  top: -18%;
  left: -10%;
  z-index: 1;
  line-height: 7.8rem;

}

  h2{
    color: #253776;
    font-size: 3.2rem;
    font-weight: bold;
  }
.img-container{
     
  width: 250px;
  height: 250px; 
  &:nth-child(odd) img{
    object-position: right;

  }  
  &:nth-child(even) img{
    object-position: left;

  }  

  img{
    object-fit:cover;
    width: 100%;
    height: 100%;
  
  }

}

 .content{
  transform: translateY(-8%);
}  
  .service{
    transform: translateY(-25%);
  }

  .sec-text::before{
    content:"";
    position: absolute;
    width: 150%;
    height: 105%;
    top: -15%;
    right: -2%;
    background-color: #F215B6;
    z-index: -1;
  }
}