.things-we-do {
  background-color: #eeeeee;
  padding-block: 100px; 
  
  .sec-title {
    font-family: "Poppins", sans-serif;
    font-size: 10rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #D9D9D9;
    position: absolute;
    width: 50%;
    top: -10%;
    left: -10%;
    z-index: 1;
    line-height: 7.8rem;
  }
  
  .things-layout {
    
    &::before {
      content: "";
      position: absolute;
      width: 75%;
      height: 85%;
      top: 0%;
      right: -2%;
      background-color: #F215B6;
      z-index: -1;
      clip-path: polygon(27% 0%, 100% 1%, 100% 100%, 0% 100%);
    }
    
    .sec-text {
      
      h2 {
        color: #253776;
        font-size: 3.2rem;
        font-weight: bold;
      }
    }
  }
  
  
  .img-container {
    width: 250px;
    height: 250px;
    
    &:nth-child(odd) img {
      object-position: right;
    }
    
    &:nth-child(even) img {
      object-position: left;
    }
    
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
  .service {
    transform: translateY(-25%);
  }
}  
  /* Media Queries */ 
  @media screen and (max-width:1300px) {
  
    
    .img-container {
      width: 200px !important;
      height: 200px !important;
    }
   
  
}
  @media screen and (max-width:1100px) {
  
    .sec-text {
      
      h2 {
        font-size: 2.2rem !important;
      }
    }
   
}
  @media screen and (max-width:991px) {
  
    .things-layout {
    
      &::before {
        width: 100% !important;
        height: 100% !important;
        clip-path: polygon(81% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%) !important;


      }
      .sec-text{
        .content{
        text-align: left !important;
        padding-left: 1.5rem !important;
      }
      }
      
    }
    
   
}
 
/*

  @media screen and (max-width: 1200px) {
    .things-layout::before {
      width: 70%;
    }
    
    .sec-text {
      width: 60%;
    }
    
    .img-container {
      width: 200px !important;
      height: 200px;
    }
    
    .things-imgs {
      right: 45%;
    }
  }
}

@media screen and (max-width:991px){

}*/