<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/images/logo.png" alt="logo">
        <p class="text pt-3 logo-text">We make technology produce productive, adaptable and sustainable business experiences.</p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <h4>company</h4>
            <ul>
              <li>About</li>
              <li>Carers</li>
              <li>Mobile</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>Contact</h4>
            <ul>
              <li>Help/FAQ</li>
              <li>Press</li>
              <li>Affilates</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>Media</h4>
            <ul>
              <li>News</li>
              <li>Photo</li>
              <li>Video</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <span><i class="fa-brands fa-facebook-f"></i></span>
        <span><i class="fa-brands fa-instagram"></i></span>
        <span><i class="fa-brands fa-x-twitter"></i></span>
        <h3>Discover our app</h3>
        <div class="d-flex">
          <img src="assets/images/google.png" alt="google" class="w-100">
          <img src="assets/images/apple.webp" alt="app" class="w-100">
        </div>
      </div>
    </div>
    <p>All rights reservedLinkdevelopment.com</p>
  </div>
</footer>