<footer class=" position-relative p-1 overflow-hidden">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-2">
        <img src="assets/images/logo.png" alt="logo">
        <p class="text pt-3 logo-text">We make technology produce productive, adaptable and sustainable business experiences.</p>
      </div>
      <div class="col-lg-6">
        <div class="row ms-md-4 ps-5 justify-content-center">
          <div class="col-4">
            <h4 class="mb-4">company</h4>
            <ul class="ps-0 text">
              <a><li>About</li></a>
              <a><li class="my-2">Carers</li></a>
              <a><li>Mobile</li></a>
            </ul>
          </div>
          <div class="col-4">
            <h4 class="mb-4">Contact</h4>
            <ul class="ps-0 text">
              <a><li>Help/FAQ</li></a>
              <a><li class="my-2">Press</li></a>
              <a><li>Affilates</li></a>
            </ul>
          </div>
          <div class="col-4">
            <h4 class="mb-4">Media</h4>
            <ul class="ps-0 text">
              <a><li>News</li></a>
              <a><li class="my-2">Photo</li></a>
              <a><li>Video</li></a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="social">
        <span class=" shadow rounded-circle d-inline-block"><i class="fa-brands fa-facebook-f"></i></span>
        <span class="shadow rounded-circle d-inline-block mx-3"><i class="fa-brands fa-instagram"></i></span>
        <span class="shadow rounded-circle d-inline-block"><i class="fa-brands fa-x-twitter"></i></span>
        </div>
        <h3 class="text fs-5 my-3">Discover our app</h3>
        <div class="d-flex justify-content-center">
          <img src="assets/images/google.png" alt="google" width="100" height="35" class="me-2 rounded-pill">
          <img src="assets/images/apple.png" alt="app" width="100" height="35" class="rounded-pill">
        </div>
      </div>
    </div>
    <p class="text text-center">All rights reservedLinkdevelopment.com</p>
  </div>
</footer>