/* fonts */
@import "./styles/fonts";
@import "./styles/variables";


/* Global Styles */
:root{
  font-size: 18px;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
}

ul {
  list-style: none;
}

/* classes*/
.text{
  color:$text-color;
}

.icon{
  color:$secondary-color
}




/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
